{% load markdownify %}
<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>{{ about_us.title }}</h2>
                    </div>
                    <p>{{ about_us.description|markdownify|safe|linebreaks }}</p>
                    <div class="row">
                        {% for image in images %}
                            <div class="col-4">
                                <img src="{{ image.picture.url }}" alt="about-us-picture-{{ image.id }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb">
{#                        <iframe allow="autoplay; encrypted-media" allowfullscreen=""#}
{#                                src="https://www.youtube.com/embed/{{ video_id }}" width="560" height="315"#}
{#                                frameborder="0"></iframe>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Area Ends ***** -->
